.task-card {
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    border-color: blue;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 240px;
    border: 1px solid blue;
}

.task-card-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.delimiter {
    width: 100%;
    height: 5px;
    background-color: blue;
}

.task-card-title {
    padding: 7px;
}